# {{project_name}}

{{ project_description }}


This project is structured as following:

{{project_name}}
├── analysis
│   └── example.ipynb
├── data -> /g/data/{{nci_project}}/$USER/{{project_name}}/data
│   ├── processed
│   └── raw
│       └── DO_NOT_EDIT
├── .git
├── .gitignore
├── README.md
└── src
    └── {{project_name}}
        ├── __init__.py
        └── sample_fun.py



